@tailwind base;
@tailwind components;
@tailwind utilities;


.my-element {
  display: inline-block;
  margin: 0 0.5rem;

    animation: pulse infinite; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}